html, body {
	height: 100%;
}

html {
	background-image: url('../img/sample.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}

body {
	background-color: rgba(44,62,80 , 0.6 );
	background-image: url('../img/pattern.png');
	background-position: center;
	background-repeat: repeat;
	font-family: 'Raleway', 'Arial', sans-serif;
}

.countdown-container {
	
	margin-bottom: 100px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-top: 10%;
	padding-bottom: 10%;
	position: relative;	
	width: 50%;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;	
	font-size: 30px;
	font-weight: bold;	
	margin-top: 50px;
	position: absolute;
	top: 30%;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	width: 100%;
}

.text .val {
	font-size: 20px;
}

.text .type-time {
	font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {

	.countdown-container {
	
		margin-top: 170px;
		
	
	}

	.clock-item {
		margin-bottom: 120px;		
	}
}

@media (max-width: 767px) {

	.countdown-container {
	
		margin-top: 300px;
		
	
	}
	.clock-item {
		margin: 0px 100px 100px 100px;
	}

	.text .val {
		font-size: 15px;
	}

	.text {
		
		font-size: 15px;
		
	}

	.text .type-time {
		font-size: 15px;
	}

	
}